<div class="comments">
	<% if current_user %>
		<div class="comment_form">
			<%= render "comments/form" %>
		</div>
	<% end %>
	<div class="comments_list">
		<%= render "comments/list" %>
	</div>
</div>
