<div id="comments_form" >
	<%= form_for([@post, @comment], remote: true) do |f| %>
		<%= f.text_area :body,  placeholder: "댓글을 입력하세요", rows: "2", class:"form-control"%>
		<%= f.button :submit, class: "hidden", id: "comment-submit" %>
	<% end %>
</div>
