<% if @users.count == 0 %>
	$('#userSearchResult').html("<h1>일치하는 회원이 없습니다 ;D</h1>")
<% else %>
	$('#userSearchResult').html("<%=j render "search_result" %>")
<% end %>

$('.modal-body').perfectScrollbar(); 
