<div>
	<form class="form-signin" action="" method="">
		<input type="text" class="form-control" placeholder="Username" required autofocus>
		<input type="password" class="form-control" placeholder="Password" required>
		<!-- <input type="submit" class="btn btn-lg btn-default btn-block" value="Sign In" /> -->
	</form>
</div>
<div>
	<%= link_to image_tag('login.png', class: "login_btns"), '#' %> 
</div>
<div style="margin-top: 1%">
	<%= link_to image_tag('facebooklogin.png', class: "login_btns"), '/auth/facebook'%> 
</div>
<div style="margin-top: 1%">
	<%= link_to image_tag('register.png', class: "login_btns"), new_user_path %> 
</div>
<div style="margin-top: 20px">
	<a href="/posts" style="color:white"> 비회원 입장 </a> 
</div>
