<style>
	.friend_imgs{
		width: 50px;
		height: 50px;
		border-radius: 5px;
	}
</style>
<div style="padding: 5px;">
<% @user.inverse_friends.each do |f| %>
	<% if f.use_photo %>
		<%= link_to image_tag(f.photo, class: "friend_imgs"), "/my_feeld?user_id=#{f.id}", title: "#{f.name}", data: {toggle: "tooltip", placement: "bottom"} %>
	<% else %>
		<%= link_to image_tag(f.image_url, class: "friend_imgs"), "/my_feeld?user_id=#{f.id}", title: "#{f.name}", data: {toggle: "tooltip", placement: "bottom"} %>
	<% end %>
<% end %>
</div>

<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
