<%# 임시로 project/_project.html.erb에서 사용한 폼을 가져왔다 %>
<div id="project_manage_board"class="posts-item" style="background:#f9f9f9">
	<div class="posts-item-writer" style="font-size: 2em; color: darkgray">
	</div>
	<div class="posts-item-text" align="center" style="font-size:2.5em">
		<span class="text-muted" >바인더가<br> 비어있습니다:(</span>
		<br>
		<span class="text-success">프로젝트를 <br>추가해주세요</span>
	</div>
	<div class="posts-item-info">
	</div>
</div>

