<div id="project_<%=project.id%>">
	<%= f.radio_button(:project_id, project.id) %>
	&nbsp;<%= truncate(project.name, length: 20, separater: ' ')%>&nbsp;
	<%= link_to "x", [current_user, project], method: :delete, remote: true, data: { confirm:	"Are you sure?" } %>
</div>
