<% @projects.each do |project| %>
<div class="posts-item" style=""  id="project_<%=@project.id%>">
	<div class="posts-item-writer">
	</div>
	<p class="posts-item-text" style="font-size:3.5em" align="center">
		<%= link_to project.name, "/project_list_in?project_id=#{project.id}", remote: true %>
	</p>
	<div class="posts-item-info">
		<div class="posts-item-title" align="center" style="color:green"><%= time_ago_in_words(project.created_at) %> 전에 생성</div>
		<div class="posts-item-counts" style="font-size: 1.2em;" align="center">
			<%= link_to "*프로젝트 삭제", [current_user, project], method: :delete, remote: true, data: { confirm:	"Are you sure?" } %>
		</div>
		<div class="posts-item-hashtags">
		</div>
	</div>
</div>
<% end %>
