<style>
	.selected{
		font-weight: bold;
		margin-right:0.5%;
		color: rgb(30,30,30);
	}
	.non-selected{
		margin-right:0.5%;
		color: rgb(130,130,130);
	}
</style>
<div id="contents-controllbar">
	<div class="container">
		<div id="cc-wrapper">
			<div class="row">
			<div class="col-md-7" style="color:rgb(30,30,30);"><%= flash[:notice].html_safe %></div>
			<%#<span style="float:right; margin-right: 5px; white-space: nowrap; ">%>
			<div class="col-md-5 " style="white-space: nowrap; text-align:right">
				
				<% if @selected == "timeline"	%>
					<a href="/timeline" class="selected" >타임라인</a>
				<% else %>
					<a href="/timeline" class="non-selected">타임라인</a>
				<% end %>

				<% if @selected == "posts" %>
					<a href="/posts" class="selected" >전체보기</a>
				<% else %>
					<a href="/posts" class="non-selected">전체보기</a>
				<% end %>

				<% if @selected == "link" %>
					<a href="/posts?type=link" class="selected" >링크</a>
				<% else %>
					<a href="/posts?type=link" class="non-selected">링크</a>
				<% end %>

				<% if @selected == "college" %>
					<a href="/posts?type=college" class="selected" >학교</a>
				<% else %>
					<a href="/posts?type=college" class="non-selected" >학교</a>
				<% end %>

				<% if @selected == "txt" %>
					<a href="/posts?type=txt" id="filter_only_text" class="selected">필드톡</a>
				<% else %>
					<a href="/posts?type=txt" id="filter_only_text" class="non-selected">필드톡</a>
				<% end %>
			</div>
			</div>
		</div>
	</div>
</div>

<%# 50px 정도 띄워준 이유는 컨텐츠컨트롤바 때문%>
<div style="height:33px"></div>

<script>
	var speed = 5;
	var previousScroll = 0;
	var current_top; 
	var origin_top = parseInt($('#contents-controllbar').css('top'), 10)	
	$(window).off('scroll')
	$(window).scroll(function(){
		 var currentScroll = $(this).scrollTop();
		 if (currentScroll > previousScroll){
		 // down
				current_top = $('#contents-controllbar').css('top')	
				current_top = parseInt(current_top, 10)

				$('#contents-controllbar').css('top', current_top - speed)	
		 } else {
		 // up
		 		if (current_top < 0 )
					current_top = 0
				else 
					current_top = parseInt($('#contents-controllbar').css('top'), 10)
				
				var new_top = (current_top + speed > origin_top) ? origin_top : current_top + speed
				$('#contents-controllbar').css('top', new_top )	
				// 가끔 모바일에서 맨 위임에도 불구하고 top 64가 아닐 때 예외처리
				if ($(window).scrollTop() == 0)
					$('#contents-controllbar').css('top', origin_top)	
		 }
		 previousScroll = currentScroll;

	});

</script>
