<style>
	.selected{
		font-weight: bold;
		color: rgb(30,30,30);
	}
	.non-selected{
		color: rgb(130,130,130);
	}
</style>

<div id="contents-controllbar">
	<div class="container">
			<%#= flash[:notice].html_safe %>

			<!--
			<div class="cc-item">
				<% if @selected == "posts" %>
					<a href="/posts" class="selected" >(메인)</a>
				<% else %>
					<a href="/posts" class="non-selected">(메인)</a>
				<% end %>
			</div>
			-->

			<div class="cc-item">
				<% if @selected == "work" %>
					<a href="#" class="selected" >작품</a>
				<% else %>
					<a href="#" class="non-selected">작품</a>
				<% end %>
			</div>

			<div class="cc-item" >
				<% if @selected == "txt" %>
					<a href="/posts?type=txt" id="filter_only_text" class="selected">커뮤니티</a>
				<% else %>
					<a href="/posts?type=txt" id="filter_only_text" class="non-selected">커뮤니티</a>
				<% end %>
			</div>

			<div class="cc-item" style="border-right: 1px solid rgb(200,200,200);">
				<% if @selected == "college" %>
					<!--<a href="/posts?type=college" class="selected" >학교</a>-->
					<a href="#" class="selected" >커넥트</a>
				<% else %>
					<a href="#" class="non-selected" >커넥트</a>
				<% end %>
			</div>

		</div>
	</div>
</div>

<div style="height:15px"></div>

<script>
	var speed = 5;
	var previousScroll = 0;
	var current_top; 
	var origin_top = parseInt($('#contents-controllbar').css('top'), 10)	
	$(window).off('scroll')
	$(window).scroll(function(){
		 var currentScroll = $(this).scrollTop();
		 if (currentScroll > previousScroll){
		 // down
				current_top = $('#contents-controllbar').css('top')	
				current_top = parseInt(current_top, 10)

				$('#contents-controllbar').css('top', current_top - speed)	
		 } else {
		 // up
		 		if (current_top < 0 )
					current_top = 0
				else 
					current_top = parseInt($('#contents-controllbar').css('top'), 10)
				
				var new_top = (current_top + speed > origin_top) ? origin_top : current_top + speed
				$('#contents-controllbar').css('top', new_top )	
				// 가끔 모바일에서 맨 위임에도 불구하고 top 64가 아닐 때 예외처리
				if ($(window).scrollTop() == 0)
					$('#contents-controllbar').css('top', origin_top)	
		 }
		 previousScroll = currentScroll;

	});
</script>
