<style>
	#input_post_content {
		background-color: white !important;
	}
</style>
<div class="modal-header">
	<div id="show-post-header">
	</div>
</div>
<%# feeldup의 경우에만 예외로 body padding 0 ??%>
<div class="modal-body" style="padding:5%;">
	<h3>	<a href="/login">로그인</a>이 필요한 서비스입니다 ;D </h3>
	
</div>
<div class="modal-footer">
</div>
