<style>
 #input_post_title{
 	margin-bottom:2%;
	background-color:transparent !important;
	border:none !important;
 }	
 #input_post_content{
	 resize:none; background-color:transparent !important;border:none !important;
 } 
 #text_type_board_feeldup{
 	/*width:90%;*/ margin-top:7%
 }
 /*이거 안쓰면 깨진다.*/
 #text_type_board_form{
	height: 400px;
 }
</style>

<!--<form style="position:relative; width:800px; height:600px">-->
<%= form_for :post ,url: posts_path, :html => {:id => "text_type_board_form"} do |f| %>
<div id="leftPanel" style="float:left; width:75%; height:100%; border-top-left-radius:10%; border-bottom-left-radius:10%; ">
	<div style="float:left; width:100%; height:15%; background:#F2F2F2; padding:2%; border-top-left-radius:10%;">
		<img src="http://cfile5.uf.tistory.com/image/252A884A565A61551BDB76" style="height:100%" class="img-rounded">&nbsp; <span style="color:#4C5249; font-size:2.5em">김모씨</span>
		<a href="#"><img style="width:20px; height:20px;" align="right" src="/images/xbtn.png"></a>
	</div>
	<div style="float:left; width:100%; height:60%; background:#E9E9E9; padding:2%">
		<!--<input type="text" class="form-control" placeholder="제목" style="margin-bottom:2%; background-color:transparent !important;border:none !important;">-->
		<%= f.text_field :title, :id => 'input_post_title', :class => "form-control",  :placeholder => '이곳에 제목을 작성해 주세요' %>
		<!--<textarea class="form-control" rows="14" placeholder="이곳에 글을 작성해 주세요" style="resize:none; background-color:transparent !important;border:none !important;"></textarea>-->
		<%= f.text_area :content, :id => 'input_post_content', :class => 'form-control', :rows => '14', :placeholder => '이곳에 굴을 작성해 주세요' %>
	</div>
	<div align="center" style="float:left; width:75%; height:10%; background:#E9E9E9; padding:2%">
		<input type="text" class="form-control" placeholder="#태그">
	</div>
	<div align="center" style="float:left; width:25%; height:10%; background:#E9E9E9; padding:2%">
		<div class="has-error">
			<div class="checkbox">
				<label>
					<input type="checkbox" id="checkboxError" value="option1">
					비밀글 작성
				</label>
			</div>
		</div>
	</div>
	<div align="center" style="float:left; width:100%; height:15%; background:#F2F2F2; border-bottom-left-radius:10%;">
	</div>
</div>

<div id="rightPanel" style="float:left; width:25%; height:100%; border-top-right-radius:10%; border-bottom-right-radius:10%;">
	<div align="center" style="float:left; width:100%; height:15%; background:white; padding:2%; border-top-right-radius:10%;">
		<div style="color:#BBBBBB; font-size:1.5em; margin-top:3%">마이필드<br> 프로젝트 관리</div>
	</div>
	<div style="float:left; width:100%; height:70%; background:#F2F2F2; padding:5%">
		<div class="checkbox">
			<label>
				<input type="checkbox" id="checkboxError" value="option1">
				2015 중간 마감
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="checkboxError" value="option1">
			 xxxx 최종마감	
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="checkboxError" value="option1">
			 개인프로젝트	
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="checkboxError" value="option1">
			 아이디어정리	
			</label>
		</div>
		<label style="color:#4E4C4C; ">
			<a href="#">
				<img style="width:20px; height:20px;" align="left" src="/images/plusbtn.png">
			</a>&nbsp; 프로젝트 추가하기
		</label>
	</div>
	<div align="center" style="float:left; width:100%; height:15%; background:white; padding:5px; border-bottom-right-radius:10%">
		<!--<a href="#"><img style="width:90%; margin-top:7%" src="/images/feeldup.png"></a>-->
		<input width="100%"id="type_text_board_feeldup" type="image" onclick="this.form.submit()" src="/images/feeldup.png" name="submit" alt="">
		<%# f.submit :id => "text_type_board_feeldup", :type => :image, :src => "/images/feeldup.png" %>
	</div>
</div>
<!--</form>-->
<% end %>
