/*
<%# 벨리데이션은 일단 안잡기로 했어%>
<%# if @post.errors.any? %>
	var errors = []
	<%# @post.errors.full_messages.each  do |e| %>
		errors.push("<%#=e %>")	
	<%# end %>
	alert(errors.join(','));

<%# else %>
*/

<% if @post.post_type == 0 %>

	$('body').LoadingOverlay("hide")
	//$('#my_modal').modal('hide') // 임시로지움, 나중에 쇼우띄워줄땐 굳이 안꺼도댐

	// show로 전환하는 기능을 아래 두 줄로서 구현했다
	$('.modal-content').html('<%=j render 'show_post' %>')
	$('.modal-body').css('max-height', $(window).height()*0.75)
	$('.modal-body').perfectScrollbar(); 

<% elsif @post.post_type == 1 %>

	$('body').LoadingOverlay("hide")

	// 이미 있는 글에 대한 form은 자동으로 edit으로 잡히는듯!
	// 이미지 업 같은 경우 finish가 아닌 이상 edit모드 유지!!
	$('.modal-content').html('<%=j render 'photoup' %>')
	$('.modal-body').css('max-height', $(window).height()*0.75)

	//$('#form_container_for_photoup').perfectScrollbar(); 
	
<%# link up %>
<% else %>

	$('body').LoadingOverlay("hide")
	$('<h1><%=@object.title%>"</h1>').appendTo($('.modal-body'))
	$('<img src="<%=@object.images.first.src.to_s%>"></img>').appendTo($('.modal-body'))
<% end %>

