<div id="search_info_panel">
	<span style="color:darkgray"><%= flash[:notice].html_safe %></span>
	<a href="/posts?type=txt" id="filter_only_text" style="float:right; margin-left:0.5%;  color:gray">텍스트</a>
	<a href="/posts?type=img" id="filter_only_image" style="float:right; margin-left:0.5%;  color:gray">이미지</a>
</div>

<div id="posts-container">
	<%= render @posts %>
</div>

<script>
	var result = ""
	$('.tag_list').each(function(){	
		tmp_arr = $(this).html().split(",").slice(0, 3);
		result = tmp_arr.join();
		if ($(this).html().split(",").length > 3)
			result += " <strong> ...+</strong> "
		$(this).html(result);
	})

</script>
