<div id="search_info_panel">
	<span class="text-info"><%= flash[:notice].html_safe %></span>
	<a href="#" id="filter_only_text" style="float:right; margin-left:0.5%">텍스트</a>
	<a href="#" id="filter_only_image" style="float:right; margin-left:0.5%">이미지,</a>
	<span style="float:right">필터:</span>
</div>

<div id="posts-container">
	<%= render @posts %>
</div>

<script>
	var result = ""
	$('.tag_list').each(function(){	
		tmp_arr = $(this).html().split(",").slice(0, 3);
		result = tmp_arr.join();
		if ($(this).html().split(",").length > 3)
			result += " <strong> ...+</strong> "
		$(this).html(result);
	})

</script>
