<div id="contents-controllbar">
	<div id="cc-wrapper">
		<div class="row">
		<div class="col-md-8" style="color:rgb(30,30,30);"><%= flash[:notice].html_safe %></div>
		<%#<span style="float:right; margin-right: 5px; white-space: nowrap; ">%>
		<div class="col-md-4 " style="white-space: nowrap; text-align:right">
			<a href="#" style="margin-right:0.5%;  color:rgb(30,30,30)">타임라인</a>
			<a href="#" style="margin-right:0.5%;  color:rgb(30,30,30)">전체보기</a>
			<a href="#" style="margin-right:0.5%;  color:rgb(30,30,30)">관심사</a>
			<a href="#" style="margin-right:0.5%;  color:rgb(30,30,30)">학교</a>
			<a href="#" style="margin-right:0.5%;  color:rgb(30,30,30)">에디터</a>
			<a href="/posts?type=img" id="filter_only_image" style="margin-right:0.5%;  color:rgb(30,30,30)">이미지</a>
			<a href="/posts?type=txt" id="filter_only_text" style="margin-right:0.5%;  color:rgb(30,30,30)">텍스트</a>
		</div>
		</div>
	</div>
</div>

<%# 50px 정도 띄워준 이유는 컨텐츠컨트롤바 때문%>
<div style="height:50px"></div>

<div id="posts-container">
	<%= render @posts %>
</div>

<style>
	#posts_adder{
		color:black; 
		font-size:3.5em; 
		font-weight: bold;
	}
	#posts_adder_container{
		margin-bottom: 2%; 	
		clear:both;
		border-radius: 5px;
		background: rgba(50,50,50,0.1);
		width: 90px;
	}
	#posts_adder_container:hover{
		background: #CBFD34; 
	}
</style>

<center>
	<%#= link_to "글 더보기", posts_path(page: 1), remote: true, id: "posts_adder"%>
	<%# page = n 은 제이쿼리로 붙여줌 %>
	<%= link_to posts_path, remote: true, id: "posts_adder" do%>
		<div id="posts_adder_container">
			+
		</div>
	<% end %>
</center>

<script >
	// 글의 마지막에 도달해도 계속 증가하지만 상관없지않나?
	var page = 1;
	var ori_url = "";
	$(function(){
		// 익스에서 여러 자바스크립트 못합쳐서 따로 써놓을게
		//tag_truncate()
		var result = ""
		$('.tag_list').each(function(){	
			tmp_arr = $(this).html().split(",").slice(0, 3);
			result = tmp_arr.join();
			//	result += " <strong> ...+</strong> "
			if ($(this).html().split(",").length > 3)
				$(this).html(result + '&nbsp; <i class="fa fa-ellipsis-h"></i>');
		})
		// tag_truncate end


		ori_url = $('#posts_adder').attr('href')

		$('#posts_adder').click(function(){
			$('body').LoadingOverlay("show")
			$('#posts_adder').attr('href', ori_url + "?page=" + page)
			page ++;
		})
		
		/*
		$(window).scroll(function() {
			if ($(window).scrollTop() == $(document).height() - $(window).height()) {
				//alert('창 끝 도달시, 글 로드 기능 개발중');
				//$('#posts_adder').click()
			}
		});
		*/
		
	});
</script>
