<%= render 'contents_controllbar' %>

<div id="posts-container">
	<%= render 'timeline'%>
</div>

<style>
	#posts_adder{
		color:black; 
		font-size:3.5em; 
		font-weight: bold;
	}
	#posts_adder_container{
		margin-bottom: 2%; 	
		clear:both;
		border-radius: 5px;
		background: rgba(50,50,50,0.1);
		width: 90px;
	}
	#posts_adder_container:hover{
		background: #CBFD34; 
	}
</style>

<center>
	<%# page = n 은 제이쿼리로 붙여줌 %>
	<%= link_to timeline_path, remote: true, id: "posts_adder" do%>
		<div id="posts_adder_container">
			+
		</div>
	<% end %>
</center>

<script >
	// 글의 마지막에 도달해도 계속 증가하지만 상관없지않나?
	var page = 1;
	var ori_url = "";
	$(function(){
		// 익스에서 여러 자바스크립트 못합쳐서 따로 써놓을게
		//tag_truncate()
		var result = ""
		$('.tag_list').each(function(){	
			tmp_arr = $(this).html().split(",").slice(0, 4);
			result = tmp_arr.join();
			//	result += " <strong> ...+</strong> "
			if ($(this).html().split(",").length > 4)
				$(this).html(result + '&nbsp; <i class="fa fa-ellipsis-h"></i>');
		})
		// tag_truncate end


		ori_url = $('#posts_adder').attr('href')

		$('#posts_adder').click(function(){
			$('body').LoadingOverlay("show")
			$('#posts_adder').attr('href', ori_url + "?page=" + page)
			page ++;
		})
		
	});
</script>
