/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: #312312;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;
*/

@import 'bootstrap';
@import 'turn_off_responsive';

@import 'comments';

// layout 에 적용되는 스타일들  
// layout 에 적용되는 스타일들  

@import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb); 
* { font-family: 'NanumGothic', '나눔고딕','NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', Dotum; }
/*
	for non-responsiveness  
	http://getbootstrap.com/getting-started/#disable-responsive
*/ 

body{
	margin-top: 60px;
	background: #F0F0F0;
	overflow-y: scroll;
}

a {
	text-decoration: none !important;
}

.container{
	// ?? 머하는 것들이었지 
	max-width: none !important;
	width:970px !important;
}

#post-container {
	width:80%; margin-left:2%
}

// width 15설정을 안해주고 jquery만으로 15%설정하면 
// 로고 버튼눌러서 새로고침했을 때 적용이 안된다..
#right_fixed_menu{
	position:fixed; width:15%;  right:2.5%;

	.RFMPanel{
		background:white; margin-top: 10px; border-radius: 5px; padding: 5%;
		.RFMPanelTitle{
			font-weight:bold; font-size:1.2em; margin-bottom: 3%;
		}
	}

	.RFMPanelItem{
		margin-bottom: 3%;
		margin-left: 3%;
		a{
			color: grey;
		}
		.reco_myfeeld_img{	
			width: 40px;
			height: 40px;
			border-radius: 3px;
		}
		.reco_myfeeld_plustbtn{
			width: 20px;	
			height: 20px;
			margin-top: 8px;
			margin-right: 3px;
			float: right;
		}
	}
	
}

#brand-image{
	height:40px;
	margin:5px;
}

.navbar-brand{
	padding:0;
}

.nav-icon{
	height:36px;
	margin:7px;
}



// 이걸 안해주고 jquery만으로 hide해버리면 로고 눌러서 새로고침했을 때, 
// 보인다. (버그)
#option_container {
	display: none;
}

.option_item{
	width:150px;
	height:150px;
}

#modal_board{
	position:fixed;
	//border-radius: 10px;
	z-index: 6000;
	overflow-y: auto;
	//background: #F0F0F0;
	background: white;
}

// 필드업 클릭시 흐린 배경
#modal_bg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5000;
	background: rgba(34,34,34,0.75);
	
}

#search_info_panel{
	background:white;
	width:98%;
	margin: 0 1%;
	border-radius:5px;
	padding:0.5%;
}



// layout 에 적용되는 스타일들  
// layout 에 적용되는 스타일들  
