/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'bootstrap';

//@import 'posts';
//@import 'comments';
//@import 'projects';

// layout 에 적용되는 스타일들  
// layout 에 적용되는 스타일들  

// https://fonts.google.com/earlyaccess 
// @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


* { font-family: 'Noto Sans KR', sans-serif; }

.modal-backdrop{
	z-index: -1;
}
.modal-title{
	img{
		width: 5%;	
	}
}
.modal-body{
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-header{
	padding:0;
}

// summernote 추가하면서 모달창이 백드롭에 가려지는 이슈 해결 도중 추가
// -> 결국 link 추가하기 안쓰기로함-> 색,폰트사이즈 조절하는 것과 충돌
// https://github.com/summernote/summernote/issues/978
.navbar-fixed-top{
	z-index: 501 !important;
}

// 프사 눌렀을 때 배경 바뀌는거 해결 
.navbar-default .navbar-nav > .open > a{
	background-color: transparent !important;
}


#profile_img{
	height: 42px;
	padding: 10px;
	padding-right: 0;
	img{
		width: 30px;
		height: 30px;
		border-radius: 5px;
	}
}

#feeldup {
	padding-left: 10px;
	padding-right: 0;
	height:42px;
	span{
		border-radius: 20px;
		border: 1px solid gray;
		padding: 5px;	
		padding-right : 12px;
		padding-left: 12px;
		font-size: 1.0em;
		color: rgb(200,200,200);
		height: 30px;
	}
}

#search{
	padding-left: 10px;
	padding-right: 0;
	span{
		padding: 5px 6px;
		font-size: 1.3em;
		color: rgb(200,200,200);
	}
	width: 45px;
}

// 여기 부터 저 overlay까지는 다른데서도 쓰임 posts.css
// ex) ta : tag add 용으로
#search_container{
	width: 50%;
	margin:auto;
	background: rgba(0,0,0,0.1);
	padding: 1%;
}

#search_input{
	position: relative;
}

#search_reco{
	position: relative; // 이거 빼면 스크롤 멀리붙음
	max-height: 400px;
	overflow: auto;
	.search_reco_item{
		color: rgba(255,255,255,0.5);	
		width: 100%;
		font-size: 3em;
		cursor: pointer;
	}
}

#overlay{
	position: absolute;
	top: 0; left: 0;
	background: rgba(0,0,0,0.5);
	display: none;
	z-index: 777;

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		 color:    white;
	}

	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    white;
		opacity:  1;
	}

	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    white;
		opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	 color:    white;
	}


	input{
		font-size: 5em;
		width: 100%;
	}

	input[type="text"]{
		 background: transparent;
		 border: none;
		 color: white;
		 outline: none;
	}
}




#msg_btn{
	padding-left: 10px;
	padding-right: 0;
	span{
		padding: 5px 6px;
		font-size: 1.3em;
		color: rgb(200,200,200);
	}
	width: 45px;
}

#login_btn{
	padding-left: 10px;
	padding-right: 0;
	span{
		border-radius: 3px;
		border: 1px solid gray;
		padding: 5px;
		padding-right : 15px;
		padding-left: 15px;
		font-size: 1.1em;
		color: rgb(200,200,200);
	}
}

#join_btn {
	padding-left: 10px;
	padding-right: 0;
	span{
		border-radius: 3px;
		border: 1px solid gray;
		padding: 5px;
		padding-right : 15px;
		padding-left: 15px;
		font-size: 1.1em;
		color: rgb(200,200,200);
	}
}

#add_binder{
	padding-left: 10px;
	padding-right: 0;
	span{
		background:white; // diff
		border-radius: 3px;
		border: 1px solid gray;
		padding: 5px;	
		padding-right : 12px;
		padding-left: 12px;
		font-size: 1.0em;
		color: rgb(200,200,200);
	}
}

#brand-image{
	height:30px;
	margin:10px;
}

.navbar-brand{
	padding:0;
}

.nav-icon{
	height:36px;
	margin:7px;
}
.nav-icon-nohover{
	height:36px;
	margin:7px;
}

.nav-event-img{
	width: 30px;
	height: 30px;
	border-radius: 5px;
}



//.modal-backdrop, .modal-backdrop.in{
//  display: none;
//}
// 여기까지 summernote 이슈 + 기존의 z-index 숫자 단위 600/700으로 낮춤


// loadingOveray z-idx
.loadingoverlay{
	z-index: 9999;
}

body{
	margin-top: 64px;
	background: #F0F0F0;
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	text-decoration: none !important;
}

textarea{
	resize: none;
	background-color: transparent !important;
	border: none !important;
}

input{
	border: none !important;
}


.tag_div{
	float: left;
	margin: 2.5% 0.5%;
}

a.tag {
	border:1px solid gray;
	border-radius:3px;
	//background: #f4f4f4;
	padding:.1em .2em;
	margin-top: 10px;
	white-space:nowrap;
	color: gray;
	&:hover {
		text-decoration: none;
		color: black;
		background-color: #C5F033;
		border:1px solid black;
	}	
}


// CC로 축약해 부를 것이다
#contents-container {
	// 이 안에 있는건 일단 posts쪽에 포함시키긴 했는데.. 
	padding-top: 30px; // reco-container 윗간격 
}

#contents-container-mobile {
	// posts item
	.posts-item{
		background:white;
		width: 95%; 
		height: 450px;
		margin: 2.5%;
		.posts-item-img{
			height: 60%;
		}
		.posts-item-text{
			height: 60%;
		}
		.posts-item-info{
			height: 30%;
		}
	}

	// posts item 변형판들
	// posts item 변형판들
	.comm-posts-item{
		width: 95%;
		margin: 2.5%;
	}

	.connect-item{
		width: 95%;
		margin: 2.5%;
		padding: 10px;
		img{
			object-fit: cover;
		}
		.ci-info {
			margin-left: 2%;
			width: 56%;
			padding: 2%;
			.ci-title{
				color: rgb(150,150,150);
				font-size: 1.2em;
				font-weight: bold;
			}
			.ci-content{
				font-size: 1em;
			}
			.ci-tags{
				float:right;	
			}
		}

	}
	// posts item 변형판들
	// posts item 변형판들

	#contents-controllbar{
		width: 100%;	
		color: white;
	}

	.timeline-posts-item{
		width: 95%; 
		margin: 2.5%;
	}

	#show-container{
		padding:0; 
		position:absolute; left:0; 
		width:100%; margin-right:1%; margin-bottom:50px;
	}

	.show-posts-item{
		width: 95%; 
		margin: 2.5%;
	}

	.show-posts-item-simple{
		width: 95%; 
		margin: 2.5%;
	}


	#user_edit_panel{
		width: 99%;
	}

	// 컨텐츠 컨트롤바
	#contents-controlbar{
		height: 3em;	
	}
	// 마이필드의 유저 인포 패널
	#user_info_panel{
		position: relative;
		width: 95%;
		margin:2.5%;

		font-size: 0.8em;
		border-radius:5px;
		padding:3%;

		#my_feeld_profile_img{
			float:left;
			width: 100px;
			height: 100px;
			border-radius: 100px;
			cursor:pointer;
			margin: 5% 3%;
		}

		#user_info_name_dept{
			float: left;
			width: 50%;
			margin: 5% 3%;
		}
		#user_info_counts{
			float: left;
			width: 90%;
			margin: 5%;
		}

		.follow-link{
		 color:rgb(208,241,68); 
		 font-size: 1.5em; 
		 font-weight:bold;
		}
	}

	// 필드아카이브 / 필드바인더 메뉴
	#my_feeld_menu{
		width: 95%; //diff with pc
		margin: 2.5%; //diff with pc

		.my_feeld_menu_item{
			width: 80px;	
			font-size: 0.8em;
		}

		.my_feeld_menu_item_right span{
			width: 70px;	
			font-size: 0.8em;
		}

		padding: 0; 
		font-weight: bold;
		text-align: center;
	}
}



// 이걸 안해주고 jquery만으로 hide해버리면 로고 눌러서 새로고침했을 때, 
// 보인다. (버그)
#option_container {
	display: none;
	z-index:600;
}

.option_item{
	width:150px;
	height:150px;
}

// 필드업 클릭시 흐린 배경
#modal_bg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 600;
	background: rgba(34,34,34,0.75);
	
}
// layout 에 적용되는 스타일들  
// layout 에 적용되는 스타일들  
