/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'bootstrap';

//@import 'posts';
//@import 'comments';
//@import 'projects';

// layout 에 적용되는 스타일들  
// layout 에 적용되는 스타일들  

// http://ichbintaeeun.tistory.com/30
// @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* { font-family: 'Noto Sans KR', serif; }

.modal-backdrop{
	z-index: -1;
}
.modal-title{
	img{
		width: 5%;	
	}
}
.modal-body{
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-header{
	padding:0;
}

// summernote 추가하면서 모달창이 백드롭에 가려지는 이슈 해결 도중 추가
// -> 결국 link 추가하기 안쓰기로함-> 색,폰트사이즈 조절하는 것과 충돌
// https://github.com/summernote/summernote/issues/978
.navbar-fixed-top{
	z-index: 501 !important;
}

#profile_img{
	width: 36px;
	height: 36px;
	border-radius: 5px;
}

//.modal-backdrop, .modal-backdrop.in{
//  display: none;
//}
// 여기까지 summernote 이슈 + 기존의 z-index 숫자 단위 600/700으로 낮춤


// loadingOveray z-idx
.loadingoverlay{
	z-index: 9999;
}

body{
	margin-top: 64px;
	background: #F0F0F0;
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	text-decoration: none !important;
}

textarea{
	resize: none;
	background-color: transparent !important;
	border: none !important;
}
input{
	border: none !important;
}


.tag_div{
	float: left;
	margin: 2.5% 0.5%;
}

a.tag {
	border:1px solid #eaeaea;
	border-radius:3px;
	background-color: #f4f4f4;
	padding:.1em .2em;
	margin-top: 10px;
	white-space:nowrap;
	color: gray;
	&:hover {
		text-decoration: none;
		color: black;
		background-color: #C5F033;
		border:1px solid black;
	}	
}


// CC로 축약해 부를 것이다
#contents-container {
	margin-left: 25px;
}

#contents-container-mobile {
	// 모바일에선 포스트아이템이 꽉차야대서 %로 간다.
	.posts-item{
		width: 95%; 
		margin: 2.5%;
	}

	.timeline-posts-item{
		width: 95%; 
		margin: 2.5%;
	}

	// 컨텐츠 컨트롤바
	#contents-controlbar{
		height: 3em;	
	}
	// 마이필드의 유저 인포 패널
	#user_info_panel{
		width: 95%;
		margin:2.5%;

		font-size: 0.8em;
		border-radius:5px;
		padding:3%;

		img {
			border-radius:5px;
			float:left;
			margin-right: 3%;
		}

		#user_info_name_dept{
			float: right;
			width: 50%;
		}
		#user_info_counts{
			float: right;
			width: 50%;
		}
		.follow-link{
		 color:rgb(208,241,68); font-size: 1.5em; font-weight:bold;
		}
	}

	// 필드아카이브 / 필드바인더 메뉴
	#my_feeld_menu{
		width: 95%; //diff with pc
		margin: 2.5%; //diff with pc

		padding: 0; font-size: 1em; font-weight: bold;
		text-align: center;

		#archive {
			height:100%;
			float: left;

			background: #CFCFCF;
			width:49.5%;
			border-radius: 5px;
			margin-right: 0.5%;
			padding-top: 13px;
		}
		#archive_hover{
			height:100%;
			float: left;

			width:49.5%;
			margin-right: 0.5%;
			padding: 0;

			#archive_mine{
				height:100%;
				float: left;

				background: #EAEAEA;
				width:50%;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				padding-top: 13px;
			}
			#archive_share{
				height:100%;
				float: left;

				background:#EAEAEA;
				width:50%;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				padding-top: 13px;
			}
		}
		#project_management{
			height:100%;
			float: left;

			background: #CFCFCF;
			width:49.5%;
			border-radius: 5px;
			margin-left: 0.5%;
			padding-top: 13px;
		}

		a{
			color: black	
		}
	}
}



#feeldup {
	img{
		width: 100%;	
	}
}

// width 15설정을 안해주고 jquery만으로 15%설정하면 
// 로고 버튼눌러서 새로고침했을 때 적용이 안된다.
// 자바스크립트에서 RFM으로 축약해 부를것이다
#right_fixed_menu{
	position:fixed; 
	width:250px;  right:25px;
	z-index: 500; 

	#fav_feeldup_content{
		overflow: hidden;	
		height: 70px; // <-> 350
	}
	#fav_tag_content{
		overflow: hidden;	
		height: 60px;
	}

	.RFMPanel{
		background:white; margin-top: 10px; border-radius: 5px; padding: 5%;
		.RFMPanelTitle{
			font-weight:bold; font-size:1.2em; 
		}
	}

	.RFMPanelItem{
		margin-bottom: 1%;
		margin-left: 3%;
		a{
			color: grey;
		}
		.reco_myfeeld_img{	
			width: 40px;
			height: 40px;
			border-radius: 3px;
		}
		.reco_myfeeld_plustbtn{
			width: 20px;	
			height: 20px;
			margin-top: 8px;
			margin-right: 3px;
			float: right;
		}
	}
	
}

#brand-image{
	height:40px;
	margin:5px;
}

.navbar-brand{
	padding:0;
}

.nav-icon{
	height:36px;
	margin:7px;
}
.nav-icon-nohover{
	height:36px;
	margin:7px;
}

.nav-event-img{
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

// 이걸 안해주고 jquery만으로 hide해버리면 로고 눌러서 새로고침했을 때, 
// 보인다. (버그)
#option_container {
	display: none;
	z-index:600;
}

.option_item{
	width:150px;
	height:150px;
}

// 필드업 클릭시 흐린 배경
#modal_bg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 600;
	background: rgba(34,34,34,0.75);
	
}
// layout 에 적용되는 스타일들  
// layout 에 적용되는 스타일들  
