// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// feeldup modal board
// feeldup modal board
// feeldup modal board
#feeldup-submit-link img{
	margin-top: 4%;
	width: 100%;
}

// photoup.html.erb
// photoup.html.erb
// photoup.html.erb
// photoup.html.erb
#form_container{
	#input_post_content{
		position: relative;
		top:0;
		right:0;
		width:69%;
		height:250px;
	}

	#preview_container{
		position: relative;
		float:left;
		top: 0;
		left: 0;
		height:300px;
		width:30%;
		padding:0;
		background: rgba(40,40,40, 0.1);
		margin:0;
		overflow-y: auto;
		margin-right: 1%;
		#preview{
			background: rgba(140,140,40, 0.1);
			position: relative;
			width: 100%;
			img{
				margin-top: 15px;
				margin-left: 17px;
				width: 100px;	
				height: 60px;	
			}
		}
	}

	//http://stackoverflow.com/questions/1084925/input-type-file-show-only-button
	//		show only button of file input
	//	
	.inputWrapper {
		position: relative;
		height: 50px;
		width: 69%;
		padding:0;
		cursor: pointer;
		/*Using a background color, but you can use a background image to represent a button*/
		background: url(/assets/fileupload.png) no-repeat;
		background-size: 100% 100%;;
		//background: black; 
		// 이거빼면 안됨 ㅅ밤바
		overflow:hidden;

		.fileInput {
			position: absolute;
			top:0;
			right:0;
			width:100%;
			height:100%;
			cursor: pointer;
			z-index: 99;
			/*This makes the button huge. If you want a bigger button, increase the font size*/
			font-size:50px;
			/*Opacity settings for all browsers*/
			opacity: 0;
			-moz-opacity: 0;
			filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
		}
	}

}

// index.html.erb
// index.html.erb
// index.html.erb
// index.html.erb
#search_info_panel{
	background:white;
	margin: 10px;
	padding:0.5%;
	font-size: 1.5em;
	border-radius: 5px;
}

.posts-item{
	width:280px; height:400px; float:left; 
	background:white; 
	margin: 10px;
	border-radius: 5px;

	.posts-item-writer{
		height: 40px;
		a{
			color: black;	
		}
		img{
			width:25px; margin:7px;
		}
		border-bottom: 1px solid #EEEEEE;
	}
	.posts-item-img{
		height: 60%;
		width: 100%;
		object-fit: cover;
	}
	.posts-item-text{
		height: 60%;
		width: 100%;
		margin: 0;
		padding: 2%;
		color: black;
		overflow: hidden;
	}
	.posts-item-info{
		font-size:0.9em; padding:5%;
		.posts-item-title{
			font-size:1.2em;
			color: #444444;
			font-weight:bold;
		}
		.posts-item-counts{
			color:gray; margin:2% 0;
			span{
				white-space: nowrap;
			}
		}
		.posts-item-hashtags{
			color:gray; 
			span{
				white-space: nowrap;
			}
		}
	}
}


// show.js.erb

#feeld{
	img{
		height: 30px;
	}
}

#feeldin{
	img{
		height: 30px;
	}
}

#edit{
	img {
		height: 30px;
	}
}

// for summernote
.note-editor{
	margin: 0;
}

#show-post-header {
	font-size: 1.5em;
	padding: 2%

}
#show-post-content{
	width : 100%;
	font-size: 1.2em;
	padding: 2%
}

.show-post-img{
	width: 96%;
	margin: 1% 2%;
}


// my_feeld.html.erb
#user_info_panel{
	background:white;
	width:99%;
	height: 200px;
	margin: 0.5%;
	border-radius:5px;
	padding:3%;
	img {
		border-radius:5px;
		float:left;
		margin-right: 3%;
	}
	#user_info_name_dept{
		float: left;
		width: 200px;
	}
	#user_info_counts{
		float: right;
		width: 180px;
	}
	.follow-link{
	 color:rgb(208,241,68); font-size: 1.5em; font-weight:bold;
	}
}

#my_feeld_menu{
	width:99%;
	height: 50px;

	margin: 10px 0.5%;
	margin-bottom: 5px;
	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;

	#archive {
		height:100%;
		float: left;

		background: #CFCFCF;
		width:49.5%;
		border-radius: 5px;
		margin-right: 0.5%;
		padding-top: 13px;
	}
	#archive_hover{
		height:100%;
		float: left;

		width:49.5%;
		margin-right: 0.5%;
		padding: 0;

		#archive_mine{
			height:100%;
			float: left;

			background: #EAEAEA;
			width:50%;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			padding-top: 13px;
		}
		#archive_share{
			height:100%;
			float: left;

			background:#EAEAEA;
			width:50%;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			padding-top: 13px;
		}
	}
	#project_list {
		height:100%;
		float: left;

		background: #CFCFCF;
		width:49.5%;
		border-radius: 5px;
		margin-left: 0.5%;
		padding-top: 13px;
	}

	a{
		color: black	
	}
}


// user edit
#user_edit_panel{
	background:white;
	width:99%;
	height: 700px;
	margin: 0.5%;
	border-radius:5px;
	padding:3%;
}	
.my_feeld_profile_img{
	width: 130px;
	height: 130px;
}
