// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-item{
	width:23%; height:320px; float:left; margin-left:1%; margin-right:1%;
	background:white; margin-top:2%;
}
.posts-item-img{
	height: 60%;
	width: 100%;
}
.posts-item-writer img{
	width:20px; margin:5px
}
.posts-item-info{
	font-size:0.9em; padding:5%;
}
.posts-item-counts{
	color:gray; margin-top:4%;
	span{
		white-space: nowrap;
	}
}
.posts-item-hashtags{
	color:gray; margin-top: 4%;
	span{
		white-space: nowrap;
	}
}


// show.js.erb
#show-post-header {
	font-size: 1.5em;
	padding: 1.5%
}
#show-post-content{
	width : 100%;
	font-size: 1.5em;
	padding: 2%
}

.show-post-img{
	width: 100%;
	margin: 0.5% 0;
}
