// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// feeldup modal board
#feeldup-submit-link img{
	margin-top: 4%;
	width: 100%;
}

a.tag {
	border:1px solid #eaeaea;
	border-radius:3px;
	background-color: #f4f4f4;
	padding:.1em .2em;
	&:hover {
		text-decoration: none;
		color: black;
		background-color: #C5F033;
		border:1px solid black;
	}	
}


// index.html.erb

#search_info_panel{
	background:white;
	margin: 5px;
	padding:0.5%;
	font-size: 1.5em;
}

.posts-item{
	width:280px; height:350px; float:left; 
	background:white; 
	margin: 5px;

	.posts-item-writer{
		height: 30px;
		a{
			color: black;	
			font-size: 0.9em;
		}
		img{
			width:20px; margin:5px;
		}
	}
	.posts-item-img{
		height: 60%;
		width: 100%;
		object-fit: cover;
	}
	.posts-item-text{
		height: 60%;
		width: 100%;
		margin: 0;
		padding: 2%;
		color: black;
		background: rgba(242,255,237, 0.3);
		overflow: hidden;
		
	}
	.posts-item-info{
		font-size:0.9em; padding:5%;
		.posts-item-title{
			margin: 2% 0 ;	
			font-size:1.2em;
			color: #444444;
			font-weight:bold;
		}
		.posts-item-counts{
			color:gray; margin:2% 0;
			span{
				white-space: nowrap;
			}
		}
		.posts-item-hashtags{
			color:gray; margin: 0; margin-top:3%;
			span{
				white-space: nowrap;
			}
		}
	}
}
	



// show.js.erb
#show-post-header {
	font-size: 1.5em;
	padding: 1.5%

}
#show-post-content{
	width : 100%;
	font-size: 1.2em;
	padding: 2%
}

.show-post-img{
	width: 96%;
	margin: 1% 2%;
}


// my_feeld.html.erb
#user_info_panel{
	background:white;
	width:99%;
	height: 200px;
	margin: 0.5%;
	border-radius:5px;
	padding:3%;
	img {
		border-radius:5px;
		float:left;
		margin-right: 3%;
	}
	#user_info_name_dept{
		float: left;
		width: 200px;
	}
	#user_info_counts{
		float: right;
		width: 180px;
	}
}

#my_feeld_menu{
	width:99%;
	height: 50px;

	margin: 10px 0.5%;
	margin-bottom: 5px;
	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;

	#archive {
		height:100%;
		float: left;

		background: #CFCFCF;
		width:49.5%;
		border-radius: 5px;
		margin-right: 0.5%;
		padding-top: 13px;
	}
	#archive_hover{
		height:100%;
		float: left;

		width:49.5%;
		margin-right: 0.5%;
		padding: 0;

		#archive_mine{
			height:100%;
			float: left;

			background: #EAEAEA;
			width:50%;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			padding-top: 13px;
		}
		#archive_share{
			height:100%;
			float: left;

			background:#EAEAEA;
			width:50%;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			padding-top: 13px;
		}
	}
	#project_list {
		height:100%;
		float: left;

		background: #CFCFCF;
		width:49.5%;
		border-radius: 5px;
		margin-left: 0.5%;
		padding-top: 13px;
	}

	a{
		color: black	
	}
}

