// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-submit-btn {
	width: 20px;
	height: 20px;
}

#projects-container-wrapper {
	overflow-y :  hidden;
	overflow-x :  hidden;
	position: relative;
	height: 310px;
	//width: 99%; 
	//margin-left: 0.5%;
	//margin-right: 0.5%;
	width: 1105px;	
	margin: 20px 10px;
	margin-bottom: 0;

	#projects-container{
		position: absolute;
		height:100%;
		// width는 뷰에서 
		// <div id="projects-container" style="width:<%=@projects.length * (250 + 5 + 5) %>px">
		// 와 같이 설정해준다.
	}
	#left-arrow{
		color: white;		
		position: absolute;
		top: 30%;
		left: 0.5%;
		font-size: 3.5em;
		font-weight: bold;
		//text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
		text-shadow: 1px 2px 3px rgb(50,50,50);
		cursor: pointer;
	}
	#right-arrow{
		color: white;
		position: absolute;
		top: 30%;
		right: 0.5%;
		font-size: 3.5em;
		font-weight: bold;
	  //text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
		text-shadow: 1px 2px 3px gray;
		cursor: pointer;
	}

	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     

}

.projects-item{
	float: left;
	height: 300px;
	width: 300px;
	background: white;
	margin-right: 20px; // 이걸 수정하면 projects-container의 width에도 반영해야됨 
	padding: 0;
	border-radius: 5px;

	.project-img{
		height: 130px;
		padding: 0;
		margin: 5px;
		margin-top: 10px;
		img{
			width: 280px;
			height: 130px;
			border-radius: 5px;
		}
	}

	.project-img-in{
		height: 65px;;	
		margin: 10px;
		margin-top: 0;
		img{
			width: 64px;
			height: 65px;
			border-radius: 5px;
		}
	}

	.project-info{
		height: 70px;	
		width: 280px;
		margin: 10px;
		margin-top: 10px;
		padding: 0;
		padding-top:10px;
		table{
			width: 280px;
		}
		td{
			width: 93.3px;
			text-align: center;
		}
	}
}


#project_info_panel{
	background:white;
	width: 1105px;
	margin: 10px 10px;
	margin-top: 0;
	height: 285px;
	padding:0;
	color: rgb(150,150,150);

	a{
	color: #333333;
	}
	#project_photo{
		position:relative;
		float:left;
		width: 40%;
		height: 100%;
		img{
			height: 100%;
			width: 100%;
		}
		#project_title{
			position:absolute;
			color: white;	
			font-size: 1.5em;
		}
	}
	#project_desc{
		float:left;
		width: 30%;
		height: 100%;
		padding: 3%;
		border-right: 1px solid rgb(200,200,200);
	}
	#project_counts_info{
		img{
			width: 60px;	
			height: 60px;	
		}
		#user-info{
			font-size: 1.5em;	
		}
		float: left;
		width: 30%;
		padding :3%;
		table{
			width: 100%; 
			text-align: center;
		}
	}
	.follow-link{
	 color:rgb(208,241,68); font-size: 1em; font-weight:bold;
	}
}

#project_form_panel{
	position: relative;

	background:white;
	width:70%;
	height: 380px;
	margin: 15%;
	margin-top: 0%;
	padding: 2%;
	border-radius: 5px;

	#project_photo{
		float:left;	
		width:50%;
		height:70%;
		// 배경 이미지
		img{
			border-radius: 5px;
			height: 193px;
			width: 350px;
			cursor: pointer;
		}
		input{
			display: none;	
		}
	}

	#project_title_desc{
		float:left;	
		width:50%;
		height:70%;
	
	}
	#project_related_tags{
		float:left;
		width:100%;
		height:30%;
	}

	input{
		border: 1px solid rgb(150,150,150) !important;	
	}

	textarea{
		border: 1px solid rgb(150,150,150) !important;	
		background: white !important;
	}

	label{
		color: rgb(150,150,150)	;
		font-size: 0.9em;
	}
}
