// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-submit-btn {
	width: 20px;
	height: 20px;
}

#projects-container-wrapper {
	overflow-y :  hidden;
	overflow-x :  hidden;
	position: relative;
	height: 310px;
	width: 99%; 
	margin-left: 0.5%;
	margin-right: 0.5%;

	#projects-container{
		position: absolute;
		height:100%;
		// width는 뷰에서 
		// <div id="projects-container" style="width:<%=@projects.length * (250 + 5 + 5) %>px">
		// 와 같이 설정해준다.
	}
	#left-arrow{
		color: white;		
		position: absolute;
		top: 30%;
		left: 0.5%;
		font-size: 3.5em;
		font-weight: bold;
		//text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
		text-shadow: 1px 2px 3px black;
		cursor: pointer;
	}
	#right-arrow{
		color: white;
		position: absolute;
		top: 30%;
		right: 0.5%;
		font-size: 3.5em;
		font-weight: bold;
	  //text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
		text-shadow: 1px 2px 3px black;
		cursor: pointer;
	}

	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     

}

.projects-item{
	float: left;
	height: 300px;
	width: 300px;
	background: white;
	margin-right: 10px;
	padding: 0;
	border-radius: 5px;

	.project-img{
		height: 130px;
		padding: 0;
		margin: 5px;
		margin-top: 10px;
		img{
			width: 280px;
			height: 130px;
			border-radius: 5px;
		}
	}

	.project-img-in{
		height: 65px;;	
		margin: 10px;
		margin-top: 0;
		img{
			width: 66px;
			height: 65px;
			border-radius: 5px;
		}
	}

	.project-info{
		height: 70px;	
		width: 280px;
		margin: 10px;
		margin-top: 10px;
		padding: 0;
		padding-top:10px;
		table{
			width: 280px;
		}
		td{
			width: 93.3px;
			text-align: center;
		}
	}
}
