<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header" style="margin-left: 2.5%">
			<a class="navbar-brand" href="#">
				<img id="brand-image" alt="Brand" src="/images/logo.png">
			</a>
		</div>

		<form class="navbar-form navbar-left" role="search">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for snippets" />
				<div class="input-group-btn">
						<div class="btn-group" role="group">
								<button type="button" class="btn btn-primary" style="background:#333333; border-color:#333333"><span style="color:#CBFD34" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</div>
				</div>
			</div>
		</form>

		<div id="navbar" class="navbar-right" style="margin-right: 1%">
			<a href="#home">
				<img class="nav-icon" src="/images/home.png">
			</a>
			<a href="#profile">
				<img class="nav-icon" src="/images/my.png">
			</a>
			<a href="#message">
				<img id="msg_icon" class="nav-icon" src="/images/msg.png">
			</a>
			<a href="#setting"><img class="nav-icon" src="/images/setting.png"></a>
		</div><!--/.nav-collapse -->
	</nav>
